<!--
 * Copyright © 2017 Ben Preece
 * 
 * Permission is hereby granted, free of charge, to any person obtaining
 * a copy of this software and associated documentation files (the "Software"),
 * to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense,
 * and/or sell copies of the Software, and to permit persons to whom the Software
 * is furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 *THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 *IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY
 *CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
 *TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE
 *OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 -->
<!DOCTYPE html>
<html>
    <head>
        <title>ng3js Boxes With Controls</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            html, body { height: 100%; width: 100%; }
            ng3js-canvas { position: fixed; top: 0; right: 0; bottom: 0; left: 0; }
            #controls { z-index: 2; position: fixed }
            #control_box { 
                display: inline-block; padding: 1em 2em; margin: 2em 2em;
                color: hsla(210, 75%, 75%, 1); background-color: hsla(210, 100%, 20%, 0.5); 
                border: 1px solid white; border-radius: 1em 
            }
        </style>

        <script src="/three.js"></script>
        <script src="angular.min.js"></script>
        <script src="ng3jsCanvas.js"></script>
        <script src="ng3jsBoxesModel.js"></script>
        <script>

            var ng3jsApp = angular.module('ng3jsApp', []);
            ng3jsApp.service('ng3jsBoxesModel', ng3jsBoxesModel);
            ng3jsApp.directive('ng3jsCanvas', ng3jsCanvasDirective);

            ng3jsApp.controller('ng3jsController', ['$document', 'ng3jsBoxesModel', function (document, model) {
                    this.model = model;
                }]);

        </script>
    </head>

    <body ng-app="ng3jsApp">
        <div ng-controller="ng3jsController as ng3js">
            <ng3js-canvas model="ng3js.model"></ng3js-canvas>

            <!-- Insert the sliders into the DOM -->

            <div id="controls">
                <div id="control_box">
                    <div>X: <input id="x_slider" type="range" min="-500" max="500" step="1" value="0"
                                   ng-model="ng3js.model.canvas.camera.position.x"></div>
                    <div>Y: <input id="y_slider" type="range" min="-500" max="500" step="1" value="0"
                                   ng-model="ng3js.model.canvas.camera.position.y"></div>
                    <div>Z:<input id="z_slider" type="range" min="-500" max="750" step="1" value="750"
                                  ng-model="ng3js.model.canvas.camera.position.z"></div>
                </div>
            </div>
            
        </div>
    </body>

</html>
